.dark {
  background-color: var(--bg-body-dark);
  color: var(--color-text-d);
  transition: background-color 1.5s;

  .navigation-link,
  .black-logo,
  .card-heading,
  .card-button,
  .first-words,
  .text,
  .btn-h,
  .submit-btn[disabled],
  .order-modal-title,
  .label-recipe-name,
  .plus-button-svg {
    color: var(--color-text-d);
  }
  .logo {
    text-shadow: 0 4px 4px #ffffff1b;
  }
  .create-order-link svg,
  .open-modal-button svg {
    fill: var(--color-text-d);
  }
  .order-modal-close-icon {
    fill: var(--color-btn-var1);
  }
  .mobile-menu .close-modal-button {
    fill: var(--color-btn-var1);
  }
  .header-scroll .navigation-link,
  .header-scroll .black-logo {
    color: var(--color-text-light);
    transition: color 2.5s;
  }
  .header-scroll .create-order-link svg {
    fill: var(--color-text-light);
    transition: fill 2.5s;
  }
  .order-modal {
    background-color: var(--color-btn-var2);
    border: var(--border-input-d);
  }

  .order-form-input,
  .order-form-comment {
    border: var(--border-input-d);
    color: var(--color-text-desc-d);
  }

  .list-category-btns .category-btn {
    color: var(--color-categories-text-d);
  }
  .all-categories-btn,
  .create-recipe-btn {
    color: var(--color-input-placeholder-d);
    border: var(--border-input-d);
  }
  .modal-content-create {
    background-color: var(--bg-body-dark);
  }
  .input-create,
  .ingredient-name,
  .ingredient-amount,
  .textarea-create {
    background-color: var(--bg-btn-var2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    &:focus {
      border: 1px solid var(--color-active-el);
    }
  }
  label,
  select,
  .card-rating,
  .footer-text,
  .reset-filter {
    color: var(--color-input-placeholder-d);
  }
  select {
    background-color: var(--bg-btn-var2);
    border: var(--border-input-d);
  }
  .icon-search,
  .plus-button-svg {
    fill: var(--color-input-placeholder-d);
  }
  .input-search {
    color: var(--color-input-placeholder-d);
    background-color: #0000;
    border: var(--border-input-d);
    &::placeholder {
      color: var(--color-input-placeholder-d);
      transition: none;
    }
  }
  .card-block:after {
    background: linear-gradient(1deg, #050505 0%, rgba(5, 5, 5, 0) 100%);
  }
  .card-description {
    color: var(--color-text-desc-d);
  }
  .mobile-menu .mobile-menu-content,
  .modal-content {
    background: var(--color-text-light);
    transition: background 2.5s;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 12px;
  }

  .pag-btn-number,
  .pag-btn-white {
    background-color: var(--bg-btn-var2);
    border: 1px solid var(--color-categories-text-d);
    color: var(--color-text-d);
  }
  .pag-btn-left-icon {
    fill: rgba(255, 255, 255, 0.5);
  }
  .close-create:hover {
    color: var(--color-btn-var1);
  }
  .footer {
    background-color: var(--color-btn-var2);
    transition: background-color 1.5s;
  }
  .favorites__filter-btn {
    background-color: var(--color-btn-var2);
    border: var(--border-input-d);
    color: var(--color-categories-text-d);
  }
}

body {
  background-color: var(--bg-body-light);
  transition: background-color 1.5s;
}
.mobile-menu .mobile-menu-content {
  background-color: var(--bg-btn-var1);
  transition: background-color 1.5s;
}
.order-modal-close-icon {
  fill: var(--color-btn-var2);
}
footer .create-order-link svg,
.close svg {
  fill: var(--color-text-d);
  stroke: var(--bg-btn-var2);
}
input,
textarea,
select,
.btn-h {
  background-color: var(--bg-btn-var2);
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--color-input-placeholder-l);
}
.footer {
  transition: background-color 1.5s;
}
