.dark {
  background-color: var(--bg-body-dark);
  color: var(--color-text-d);

  // header
  .navigation-link {
    color: var(--color-text-d);
  }
  .logo {
    text-shadow: 0 4px 4px #ffffff1b;
  }
  .black-logo {
    color: var(--color-text-d);
  }
  label {
    color: var(--color-input-placeholder-d);
  }
  select {
    color: var(--color-input-placeholder-d);
    background-color: transparent;
    border: var(--border-input-d);
  }
  .icon-search {
    fill: var(--color-input-placeholder-d);
  }
  .input-search {
    color: var(--color-input-placeholder-d);
    background-color: #0000;
    border: var(--border-input-d);
  }
  .card-block:after {
    background: linear-gradient(1deg, #050505 0%, rgba(5, 5, 5, 0) 100%);
  }
  .card-heading {
    color: var(--color-text-d);
  }
  .card-description {
    color: var(--color-text-desc-d);
  }
  .card-rating {
    color: var(--color-input-placeholder-d);
  }
  .card-button {
    color: var(--color-text-d);
  }
  .footer-text {
    color: var(--color-input-placeholder-d);
  }
}
