@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --bg-body-light: #ffffff;
  --bg-btn-var1: #9BB537;
  --bg-btn-var2: transparent;
  --color-text-light: #050505;
  --color-text-desc-l: rgba(5, 5, 5, 0.80);
  --color-categories-text-l: rgba(5, 5, 5, 0.30);
  --color-input-placeholder-l: rgba(5, 5, 5, 0.50);
  --color-active-el: #9BB537;
  --color-btn-var1: #F8F8F8;
  --color-btn-var2: #050505;
  --border-input-l:1px solid rgba(5, 5, 5, 0.20);
  --border-radius: 15px;
  --border-btn-var2: border: 1px solid #9BB537;
  --bg-body-dark: #1e1e1e;
  --color-text-d: #ffffff;
  --color-text-desc-d: rgba(255, 255, 255, 0.80);
  --color-categories-text-d: rgba(255, 255, 255, 0.30);
  --color-input-placeholder-d: rgba(255, 255, 255, 0.50);
  --border-input-d:1px solid rgba(255, 255, 255, 0.20);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text-light);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: block;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
}

.visibility-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  line-height: 0;
}

.section {
  padding-bottom: 80px;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 100px;
    width: 1280px;
  }
}
.dark {
  background-color: --bg-body-dark;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 28px 32px 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 40px 100px 0 100px;
  }
}

.svg-list {
  gap: 14px;
  margin-left: auto;
  display: flex;
}

.svg-list label {
  display: none;
}

.switch {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.header-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-wrapper {
  display: flex;
}
.header-wrapper .header-navigation-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    justify-content: space-between;
  }
  .header-wrapper .header-navigation-list {
    display: flex;
    flex-direction: row;
  }
  .header-wrapper .svg-list {
    align-items: center;
  }
}

.navigation-link {
  font-size: 12px;
  color: #f8f8f8;
  font-family: Inter;
}

.logo {
  color: #9bb537;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.72px;
  }
}

@media screen and (min-width: 768px) {
  .svg-list {
    margin-left: 0;
  }
  .svg-list label {
    display: flex;
  }
  .open-modal-button {
    display: none;
  }
  .navigation-link {
    color: #050505;
  }
}
.black-logo {
  color: #050505;
}

/* Mobile-menu */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.2);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-menu .mobile-menu-content {
  background-color: #9bb537;
  width: 52vw;
  height: 100vh;
  padding: 20px;
  position: relative;
}
.mobile-menu .mobile-menu-content .switch {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.mobile-menu .close-modal-button {
  display: flex;
  margin-left: auto;
}
.mobile-menu .header-navigation {
  text-align: center;
  margin-top: 200px;
}

/* Світч */
.switch input {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.slider:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  transform: translate(1px, -50%);
  transition: transform 0.3s ease;
}

input:checked + .slider {
  background-color: #9bb537;
}
input:checked + .slider:before {
  transform: translate(26px, -50%);
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.wrap-form-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-wrap {
  position: relative;
  border-radius: 15px;
}

.label-input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(5, 5, 5, 0.5019607843);
  margin-bottom: 10px;
}

.icon-search {
  position: absolute;
  left: 18px;
  bottom: 14px;
  fill: rgba(5, 5, 5, 0.5019607843);
  pointer-events: none;
}

.input-search {
  width: 322px;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(5, 5, 5, 0.5019607843);
  background-color: transparent;
  width: 100%;
  height: 46px;
  padding: 0 0 0 48px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  outline: none;
}

.input-search:is(:hover, :focus) {
  border: 2px solid #9bb537;
}

.label-selector {
  display: block;
  color: rgba(5, 5, 5, 0.5019607843);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}

.time-selector {
  width: 160px;
}

.area-selector {
  width: 160px;
}

.ingredients-selector {
  width: 188px;
}

.time-selector,
.area-selector,
.ingredients-selector {
  height: 46px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  color: rgba(5, 5, 5, 0.5019607843);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 18px;
  outline: none;
}

.time-selector:is(:hover, :focus) {
  border: 2px solid #9bb537;
}

.area-selector:is(:hover, :focus) {
  border: 2px solid #9bb537;
}

.ingredients-selector:is(:hover, :focus) {
  border: 2px solid #9bb537;
}

/* illia tablet styles */
@media screen and (min-width: 768px) {
  .container-right {
    width: 100%;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container-right {
    width: 782px;
    margin-left: 63px;
  }
}
.empty {
  height: 100vh;
  color: var(--color-btn-var2);
}

.favorites__img {
  display: none;
}

.favorites__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.favorites__empty img {
  margin-bottom: 24px;
}

.favorites__text {
  text-align: center;
}

@media (min-width: 768px) {
  .empty {
    height: 100%;
    color: var(--color-btn-var2);
  }
  .favorites__empty {
    padding-top: 50px;
  }
  .favorites__img {
    display: block;
    margin-bottom: 64px;
    width: 704px;
    height: 356px;
    background-image: url("../images/card-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .favorites__img {
    background-size: auto 100%;
    background-image: url("../images/card-tablet@2x.jpg");
  }
}
@media (min-width: 768px) {
  .favorites__empty img {
    margin-bottom: 32px;
  }
}
@media (min-width: 1080px) {
  .favorites__empty {
    padding-top: 40px;
  }
  .favorites__img {
    display: block;
    margin-bottom: 64px;
    width: 1080px;
    height: 356px;
    background-image: url("../images/card-desk.jpg");
  }
}
@media (min-width: 1080px) and (min-device-pixel-ratio: 2), (min-width: 1080px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1080px) and (min-resolution: 192dpi), (min-width: 1080px) and (min-resolution: 2dppx) {
  .favorites__img {
    background-size: auto 100%;
    background-image: url("../images/card-desk@2x.jpg");
  }
}
.backdrop {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-input-placeholder-l);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 150ms;
}

.order-modal {
  background: var(--color-btn-var1);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--transition);
  transition-delay: 150ms;
  padding: 28px 20px;
  border: 1px solid var(--border-input-1);
  width: 335px;
  height: 582px;
  border-radius: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .order-modal {
    padding: 40px;
    width: 440px;
    height: 632px;
  }
}

.backdrop.is-hidden .order-modal {
  transform: scale(0.75) translate(-65%, -65%);
  opacity: 0;
  transition-delay: 0ms;
}

.close {
  cursor: pointer;
  position: fixed;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  font-weight: bold;
  transition: transform var(--transition);
}
.close:hover, .closefocus {
  transform: scale(1.8) rotate(180deg);
  transform-origin: center;
}
@media screen and (min-width: 768px) {
  .close {
    top: 16px;
    right: 16px;
  }
}

.hero-modal-close-icon {
  stroke: var(--color-btn-var2);
}

.order-modal-title {
  color: var(--color-btn-var2);
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .order-modal-title {
    margin-bottom: 40px;
  }
}

.order-form-label {
  color: var(--color-input-placeholder-l);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

order-form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.order-form-input {
  width: 295px;
  height: 46px;
  padding: 14px 18px;
  margin: 8px 0 16px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--color-input-placeholder-l);
}
.order-form-input:hover, .order-form-input:active {
  border: 1px solid var(--color-active-el);
}
@media screen and (min-width: 768px) {
  .order-form-input {
    width: 360px;
    height: 48px;
    margin: 8px 0 18px;
  }
}

.order-form-comment {
  width: 295px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  margin: 8px 0 40px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--color-input-placeholder-l);
  resize: none;
}
.order-form-comment:hover, .order-form-comment:active {
  border: 1px solid var(--color-active-el);
}
@media screen and (min-width: 768px) {
  .order-form-comment {
    width: 360px;
    margin: 8px 0 40px;
  }
}

.submit-btn {
  width: 100%;
  background-color: var(--color-active-el);
  color: var(--color-btn-var1);
  border-radius: 15px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  transition: all var(--transition);
}
.submit-btn:hover {
  color: var(--color-btn-var2);
}
.submit-btn:focus {
  color: var(--color-btn-var2);
}

.name-form-valid:not(:-moz-placeholder-shown):required:valid {
  border-color: var(--color-active-el);
  -moz-transition: border var(--transition);
  transition: border var(--transition);
}

.name-form-valid:not(:placeholder-shown):required:valid {
  border-color: var(--color-active-el);
  transition: border var(--transition);
}

.name-form-valid:not(:-moz-placeholder-shown):required:invalid {
  border: 2px solid red;
  -moz-transition: border var(--transition);
  transition: border var(--transition);
}

.name-form-valid:not(:placeholder-shown):required:invalid {
  border: 2px solid red;
  transition: border var(--transition);
}

.phone-form-valid:not(placeholder-shown):required:valid {
  border-color: var(--color-active-el);
  transition: border var(--transition);
}

.phone-form-valid:not(placeholder-shown):required:invalid {
  border: 2px solid red;
  transition: border var(--transition);
}

.email-form-valid:not(placeholder-shown):required:valid {
  border-color: var(--color-active-el);
  transition: border var(--transition);
}

.email-form-valid:not(placeholder-shown):required:invalid {
  border: 2px solid red;
  transition: border var(--transition);
}

.submit-btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}/*# sourceMappingURL=index.css.map */