<div class="svg-list">
  <a class="create-order-link link" href="#">
    <svg width="24" height="24">
      <use href="./images/sprite.svg#icon-cart"></use>
    </svg>
  </a>
  <button class="open-modal-button">
    <svg width="32" height="32">
      <use href="./images/sprite.svg#icon-hamburger"></use>
    </svg>
  </button>

  <label class="switch">
    <svg class="icon-moon visibility-hidden" width="14" height="14">
      <use href="./images/sprite.svg#icon-moon"></use>
    </svg>

    <svg class="icon-sun" width="14" height="14">
      <use href="./images/sprite.svg#icon-sun"></use>
    </svg>
    <input type="checkbox" />
    <span class="slider"></span>
  </label>
</div>
