.favorites__wrap{
  width: 375px;
  padding: 0 20px;  
  overflow: hidden;
}

.favorites__img{
  display: none;
  width: 335px;
  height: 516px;
  background-image: url("../images/favorites/card.jpg");
  border-radius: 15px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.favorites__img {
  background-size: auto 100%;
background-image: url("../images/favorites/card@2x.jpg");
}
}
  
  .favorites__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 100%;
  }

  .favorites__empty-img {
    width: 65px;
    height: 58px;
    margin-bottom: 24px;
  }
  
  .favorites__text {
    width: 335px;
    color: var(--color-text-light);
    font-family: Inter;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .empty {
    height: 100vh;
    color: var(--color-btn-var2);
  }

  .favorites__list-filter {
    display: flex;
    gap: 12px;
    white-space: nowrap;
    margin-bottom: 24px;
  }

  .favorites__filter-btn {
    padding: 14px 18px;
    border-radius: 15px;
    
    outline: none;
    background-color: var(--color-btn-var1);
    border: 1px solid var(--border-input-l);
    color: var(--color-categories-text-l);
  }

  .favorites__list-cards{
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-bottom: 40px;
  }

  .favorites__list-cards-thumb{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px){
    .favorites__list-cards{
      min-height: 100vh;
    }
  }

  .favorites__cards-item {
    position: relative;
  }
  
  .favorites__cards-item img {
    width: 335px;
    border-radius: 15px;
  }

  .favorites__cards-item::before {
    content: ""; /* Додати пустий контент для підшару */
    position: absolute; /* Абсолютне позиціонування підшару */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    border-radius: 15px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.6)
    ); /* Чорний колір з 60% прозорістю */
    z-index: 1; /* Затемнення повинно бути вище картинки */
  }
  
  .favorites__heart,
  .icon-button {
    top: 16px;
    right: 16px;
    width: 22px;
    height: 22px;
    fill: transparent;
    stroke-width: 2px;
    stroke: white;
    opacity: 0.5;
  }
  
  .icon-button {
    position: absolute;
    z-index: 50;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  
  .favorites__cards-thumb {
    position: absolute;
    z-index: 5;
    bottom: 0;
    padding: 16px;
  }
  
  .favorites__cards-title {
    color: var(--color-btn-var1);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
    font-family: Inter;
    margin-bottom: 8px;
  }
  
  .favorites__cards-text {   
    color: #f8f8f8;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.33;
    display: -webkit-box;
    overflow: hidden;
  }
  
  .favorites__rating-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .favorites__cards-btn {
    
    font-size: 12px;
    
    font-weight: 500;
    font-family: Inter;
    padding: 8px 14px;
    background-color: var(--bg-btn-var1);
    border: none;
    border-radius: 8px;
    color: var(--color-btn-var1);
  }
  
  .favorites__rating {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 4px;
  }
  
  .favorites__rating-active {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .favorites__star-active,
  .favorites__star-notActive {
    width: 14px;
    height: 14px;
  }
  
  .favorites__star-active {
    fill: #eea10c;
    opacity: 1;
  }
  
  .favorites__star-notActive {
    fill: #f8f8f8;
    opacity: 0.1;
  }

  @media (min-width: 768px){

    .favorites__wrap{
      width: 704px;
      padding: 0;
    }

    .empty {
        height: 100%;
        color: var(--color-btn-var2);
      }

      .favorites__empty{
        padding-top: 50px;
        margin-bottom: 64px;
      }

    .favorites__img{
        display: block;
        width: 704px;
        height: 356px;
        background-image: url("../images/favorites/card-tablet.jpg");
        border-radius: 15px;
      }

      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .favorites__img {
        background-size: auto 100%;
      background-image: url("../images/favorites/card-tablet@2x.jpg");
    }
  }

      .favorites__empty-img {
        margin-top: 64px;
        margin-bottom: 32px;
      }

      .favorites__text{
        width: 481px;
        font-size: 16px;
        line-height: 24px;
      }

      .favorites__list-filter{
        margin-bottom: 32px;
      }

      .favorites__list-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:16px;
        min-height: 244px;
      }

      .favorites__cards-item img {
        width: 224px;
        height: 244px;
      }

      .favorites__rating-active{
        gap: 2px;
      }

      .favorites__star-active,
  .favorites__star-notActive {
    width: 12px;
    height: 12px;
  }
  }

  @media (min-width: 1280px) {

    .favorites__wrap{
      width: 1080px;
      padding: 0;
    }

    .favorites__empty{
        padding-top: 100px;
      }
      .favorites__list-cards{
        gap: 32px 16px;
        min-height: 287px;
      }

      .favorites__img{
        width: 1080px;
        height: 356px;
        background-image: url("../images/favorites/card-desk.jpg");
      }

      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .favorites__img {
        background-size: auto 100%;
      background-image: url("../images/favorites/card-desk@2x.jpg");
    }
  }
  .favorites__cards-item{
    height: 287px;
  }

  .favorites__cards-item img {
    width: 258px;
    height: 287px;
  }
  }
  
  .favorites__rating-body {
    position: relative;
  }
  
  .favorites__cards-rating {
    color: var(--color-btn-var1);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    
  }
  
  .favorites__rating-items {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .favorites__rating-item {
    margin: 1px;
    opacity: 0;
  }
  
  
  .heart-isActive {
    fill: white;
    opacity: 1;
  }

  .favorites__active-btn{
    color: var(--color-btn-var1);
    background-color: var(--color-active-el);
  }
  
// ==================================================fav-pagination-======================
.favorites__pagination{
  display: flex;
  justify-content: center;
    gap: 8px;
}  

.favorites__pagination-item{  
  display: flex;
  justify-content: center;
    align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:solid 1px var(--color-categories-text-l);
  cursor: pointer;  
}

.favorites__pagination-item:active{
  background-color: var(--color-active-el);
  border: solid 1px transparent;
}

.favorites__pag-container{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-btn-var1);
}

.favorites__start-arrow-first,
.favorites__start-arrow-second,
.favorites__prew-arrow{
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%) rotate(180deg);
    fill: var(--color-btn-var1);
    opacity: 0.5;
  }
  .favorites__start-arrow-second{
    position: absolute;
    top: 50%;
    left: 60%;
  }

  .favorites__start-arrow-first{
    position: absolute;
    top: 50%;
    left: 40%;
  }
  .favorites__prew-arrow{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  }

  .favorites__end-arrow-first,
  .favorites__end-arrow-second,
  .favorites__next-arrow{
    width: 24px;
    height: 24px;
    position: absolute;
    transform: translate(-50%, -50%);    
    fill: var(--color-btn-var2);
  }

  .favorites__next-arrow{
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .favorites__end-arrow-first{
    top: 50%;
    left: 40%;
  }
  .favorites__end-arrow-second{
    top: 50%;
    left: 60%;
  }

  .favorites__pag-page{
    font-family: Inter;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  
  .favorites__start-arrow-first-thumb{
    display: block;
    width: 40px;
    height: 40px;
  }