<!-- Файли для роботи:
    Стилі:
      sass\layout\modal\_modal-recipe.scss - стілі блоку;

      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;

    JS:
      js\modal\modal-recipe\modal-recipe.js - логіка;
      js\modal\modal-recipe\modal-recipe.js - запити на бек;
      js\modal\modal-recipe\modal-recipeRender.js -рендер HTML;

      -->

<!-- Детальна інформація про рецепт -- https://tasty-treats-backend.p.goit.global/api/recipes/ -->
<!-- Перелік інгредієнтів - https://tasty-treats-backend.p.goit.global/api/ingredients -->
<!-- "Modal window з детальною інформацією про рецепт включає
  1)відео приготування рецепту(у разі наявності) або його зображення
  2)назву рецепту
  3)його рейтинг  
  4)час приготування
  5)перелік інгредієнтів і обʼєми їх використання в рецепті
  6)перелік тегів
  7)інструкція приготування рецепту
  8)кнопку додавання рецепту до Favorites (або видалення з них)
  9)кнопку для проставлення оцінки рецепту користувачем з привʼязкою до email (це завдання є додатковим 
    і у разі НЕреалізації кнопку Give a rating у модальне вікно додавати не варто)" -->

<!-- Click по кнопці додавання рецепту до Favorites (або видалення з них) повинен оновлювати інформацію 
      про favorites, яка повинна зберігатися в localStorage -->

<!-- Clickпо backdrop модального вікна, click по кнопці з іконкою хрестика або натискання на клавішу ESC
      повинен закривати модальне вікно (не забувайте знімати слухачі)


      Click по додатковій кнопці  Give a rating у Modal window рецепту повинен відкривати модальне вікно 
              із формою проставлення рейтингу
-->
<div class="backdrop is-hidden js-backdrop">
  <div class="modal">
    <button type="button" class="close-modal">
      <svg class="icon-close" width="12px" height="12px">
        <use href="/src/images/sprite.svg#icon-close-x"></use>
      </svg>
    </button>
    <div class="modal-content"></div>
  </div>
</div>