<div id="myModal" class="modal-create">
  <div class="modal-content-create">
    <span class="close-create">&times;</span>
    <form class="recipe-form" id="recipeForm">
      <label class="label-recipe-name label-create" for="recipeName"
        >Recipe name:</label
      >
      <input
        class="input-create"
        type="text"
        id="recipeName"
        name="recipeName"
        required
      />

      <div class="ingredient-create-container">
        <div class="label-flex">
          <label class="label-create" for="ingredients">Ingredients:</label>
          <label class="label-create label-quantity" for="amount">Quantity (g):</label>
        </div>
        <div id="ingredients-create">
          <div class="ingredient-create">
            <input
              type="text"
              class="ingredient-name input-create"
              id="ingredients"
              name="ingredient[]"
              required
            />

            <input
              type="text"
              class="ingredient-amount input-create"
              id="amount"
              name="amount[]"
              placeholder="Quantity (g)"
              required
            />

            <svg
              class="plus-button-svg add-ingredient-icon"
              width="20"
              height="20"
            >
              <use
                href="./images/sprite.svg#icon-plus"
                class="plus-button-icon"
              ></use>
            </svg>
          </div>
        </div>
      </div>

      <label class="label-create" for="instructions">Instructions:</label>
      <textarea
        class="textarea-create"
        id="instructions"
        name="instructions"
        rows="4"
        required
      ></textarea>
      <label class="label-create" for="recipeImage">Recipe Image:</label>
      <input
        class="input-create"
        type="file"
        id="recipeImage"
        name="recipeImage"
        accept="image/*"
      />

      <img id="recipeImagePreview" src=""  alt="Preview" style=" displey:none;"/>

      <button class="btn-create" type="submit">Save recipe</button>
    </form>
  </div>
</div>
