<!-- backdrop is-hidden
<button type="button" class="create-order-link btn" id="imitation">
click</button>  -->
<div class="backdrop is-hidden" data-modal>
  <div class="order-modal">
    <span class="close">
      <svg width="24" height="24">
        <use
          class="order-modal-close-icon"
          href="/src/images/sprite.svg#icon-close-x"
        ></use>
      </svg>
    </span>
    <h2 class="order-modal-title">Order now</h2>
    <form class="order-form" id="order-form">
      <label for="name" class="order-form-label">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Кирило Буданов"
        class="order-form-input name-form-valid input-js"
        required
        pattern="[A-Za-zА-Яа-яЁёІіЇїЄє\s]+$"
      />

      <label for="prhone" class="order-form-label">Phone number</label>
      <input
        type="tel"
        id="phone"
        class="order-form-input phone-form-valid input-js"
        name="phone"
        pattern="^\+380\d{9}$"
        required
        placeholder="+380444286274"
        maxlength="13"
      />

      <label for="email" class="order-form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="contact@gur.gov.ua"
        class="order-form-input email-form-valid input-js"
        required
      />

      <label for="comment" class="order-form-label">Comment</label>
      <textarea
        name="comment"
        id="comment"
        class="order-form-comment"
      ></textarea>

      <button type="submit" class="submit-btn" disabled>Send</button>
    </form>
  </div>
</div>
<!-- Файли для роботи:
    Стилі:
      sass\layout\modal\_modal-order.scss - стілі блоку;

      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;

    JS:
      js\modal\modal-order\modal-order.js - логіка;
      js\modal\modal-order\modal-order.js - запити на бек;
      js\modal\modal-order\modal-orderRender.js -рендер HTML;

      -->

<!-- Додавання замовлення - https://tasty-treats-backend.p.goit.global/api/orders -->

<!--  1)Підключити/зверстати Loader (spinner) для асинхронних запитів
      2)Модальне вікно для створення замовлення містить в собі:
        а)форму з 3ма обовʼязковими до заповнення полями(name, phone, email), яким необхідно додати 
          мінімальну валідацію введених даних за допомогою атрибуту pattern, 
        б)1м необовʼязковим(comment) 
        в)кнопку типу submit, по click на яку у разі введення користувачем валідних значень, запит про 
          створення замовлення відправлятиметься на бекенд" -->
