<button class="js-createRecipeBtn create-recipe-btn" id="openModalBtn">
  Add your recipe
</button>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="recipeForm">
      <label class="label-recipe-name" for="recipeName">Recipe name:</label>
      <input type="text" id="recipeName" name="recipeName" required />

      <div>
        <label>Ingredients:</label>
        <div id="ingredients">
          <div class="ingredient">
            <input
              type="text"
              class="ingredient-name"
              name="ingredient[]"
              required
            />
            <input
              type="text"
              class="ingredient-amount"
              name="amount[]"
              placeholder="Quantity (g)"
              required
            />

            <button type="button" class="add-ingredient">+</button>
          </div>
        </div>
      </div>

      <label for="instructions">Instructions:</label>
      <textarea
        id="instructions"
        name="instructions"
        rows="4"
        required
      ></textarea>

      <button class="btn" type="submit">Save recipe</button>
    </form>
  </div>
</div>
