<section class="favorites section">
  <div class="container favorites__wrap">
    <div class="favorites__empty">
      <div class="favorites__img"></div>
    </div>
    <div class="favorites">
      <div class="custom-scroll-container">
        <div class="custom-scroll-content">
          <ul class="favorites__list-filter"></ul>
        </div>
      </div>

      <ul class="favorites__list-cards grid-container"></ul>
      <div class="pagination-bar">
        <div class="pag-btn-block">
          <button
            id="pag-btn-start"
            class="gag-btn-black"
            type="button"
            aria-label="first page"
          >
            <span class="icon-wrap">
              <svg class="pag-btn-left-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </span>
            <span class="icon-wrap overlap">
              <svg class="pag-btn-left-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </span>
          </button>
          <button
            id="pag-btn-prev"
            class="gag-btn-black"
            type="button"
            aria-label="previous page"
          >
            <svg class="pag-btn-left-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="pag-btn-block">
          <button
            id="pag-btn-next"
            class="pag-btn-green"
            type="button"
            aria-label="next page"
          >
            <svg class="pag-btn-right-icon-next" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
          <button
            id="pag-btn-last"
            class="pag-btn-green"
            type="button"
            aria-label="last page"
          >
            <span class="icon-container">
              <span class="icon-wrap-right">
                <svg class="pag-btn-right-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
              <span class="icon-wrap-right overlap-right">
                <svg class="pag-btn-right-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Файли для роботи:
    Стилі:
      sass\layout\favorites\_favorites.scss - стілі сторінки;
      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;
      sass\base\_pagination-btn.scss кнопки пагінації;

    JS:
      js\favorites\favorites.js - логіка;
      js\favorites\favoritesRender.js -рендер HTML;

      -->

<!-- "Favorites включає:
      1)герой з зображенням
      2)блок з переліком категорій рецептів, що включені до Favorites
      3)блок з переліком рецептів, що були додані користувачем до Favorites"

      При переході на сторінку Favorites у блоці з переліком рецептів відмальовуються рецепти, що були додані
        до нього користувачем і зберігалися у localStorage. Якщо таких рецептів не знайдено, необхідно показати
        відповідне повідомлення користувачу

      Зверстати шаблон картки одного рецепту. Картка повинна містити зображення рецепту, його назву,  
        короткий опис рецепту, його рейтинг, час приготування, а також іконку з серцем, що візуалізує, 
        чи знаходиться рецепт в переліку  Favorites чи ні  -->
