<section class="favorites section">
  <div class="container favorites__wrap">
    <div class="favorites__empty">
      <div class="favorites__img"></div>
    </div>
    <div class="favorites">
      <ul class="favorites__list-filter"></ul>
      <ul class="favorites__list-cards"></ul>
      <ul class="favorites__pagination">
        <!-- <li class="favorites__pagination-item">
          <div class="favorites__pag-container">
            <svg class="favorites__start-arrow-first">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
            <svg class="favorites__start-arrow-second">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
        <li class="favorites__pagination-item">
          <div class="favorites__pag-container">
            <svg class="favorites__prew-arrow">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
        <li class="favorites__pagination-item">
          <span class="favorites_page-dots-first">...</span>
        </li>
        <li class="favorites__pagination-item">
          <span class="favorites__pag-page">1</span>
        </li>
        <li class="favorites__pagination-item">
          <span class="favorites__pag-page">2</span>
        </li>
        <li class="favorites__pagination-item">
          <span class="favorites__pag-page">3</span>
        </li>
        <li class="favorites__pagination-item">
          <span class="favorites_page-dots-last">...</span>
        </li>
        <li class="favorites__pagination-item">
          <div class="favorites__pag-container">
            <svg class="favorites__next-arrow">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
        <li class="favorites__pagination-item">
          <div class="favorites__pag-container">
            <svg class="favorites__end-arrow-first">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
            <svg class="favorites__end-arrow-second">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>

<!-- Файли для роботи:
    Стилі:
      sass\layout\favorites\_favorites.scss - стілі сторінки;
      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;
      sass\base\_pagination-btn.scss кнопки пагінації;

    JS:
      js\favorites\favorites.js - логіка;
      js\favorites\favoritesRender.js -рендер HTML;

      -->

<!-- "Favorites включає:
      1)герой з зображенням
      2)блок з переліком категорій рецептів, що включені до Favorites
      3)блок з переліком рецептів, що були додані користувачем до Favorites"

      При переході на сторінку Favorites у блоці з переліком рецептів відмальовуються рецепти, що були додані
        до нього користувачем і зберігалися у localStorage. Якщо таких рецептів не знайдено, необхідно показати
        відповідне повідомлення користувачу

      Зверстати шаблон картки одного рецепту. Картка повинна містити зображення рецепту, його назву,  
        короткий опис рецепту, його рейтинг, час приготування, а також іконку з серцем, що візуалізує, 
        чи знаходиться рецепт в переліку  Favorites чи ні  -->
