<footer class="footer">
  <div class="container footer__wrap">
    <div class="footer-top-line">
      <nav class="navigation">
        <include src="./partials/components/navigation.html"></include>
      </nav>
      <include src="./partials/components/svg-list.html"></include>
    </div>
    <div class="footer-center-line">
      <div class="team">
        <p class="teame-title">worked on the project</p>
        <ul class="team-list js-team-list">
        </ul>
      </div>
      <div class="support">
        <p class="support-text">support us</p>
        <a href="" class="support-link"><span>Donate to ЗСУ</span></a>
      </div>
    </div>
    <div class="footer-bottom-line">
      <p class="footer-copyright footer-text">
        &#169;2024 Tasty treats. All rights reserved.
      </p>
      <ul class="footer-policy-list list footer-text">
        <li class="footer-policy-item"><a href="#" class="botom-text">Privacy Policy</a></li>
        <li class="footer-policy-item"><a href="#" class="botom-text">Terms of Service</a></li>
      </ul>
    </div>
</footer>