<header id="header">
  <div class="container header-wrapper">
    <include src="./partials/components/navigation.html"></include>
    <include src="./partials/components/svg-list.html"></include>
  </div>
  <div class="mobile-menu is-hidden">
    <div class="mobile-menu-content">
      <svg class="close-modal-button" width="32" height="32">
        <use href="./images/sprite.svg#icon-close-x"></use>
      </svg>
      <nav class="header-navigation">
        <ul class="header-navigation-list">
          <li>
            <a class="navigation-link current-link" href="./index.html">Home</a>
          </li>
          <li>
            <a class="navigation-link" href="./favorites.html">Favorites</a>
          </li>
        </ul>
      </nav>
      <label class="switch">
      
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
  </div>
</header>

<!-- Файли для роботи:
    Стилі:
      sass\layout\_header.scss - стілі блоку;

      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;
      sass\base\_pagination-btn.scss кнопки пагінації;

    JS:
      js\header\header.js - логіка;

      -->

<!-- "Header включає:
        1)mobile: логотип, кнопку-іконку для створення замовлення та бургер-меню з навігацією та перемикачем теми
        2)tablet&desktop: навігацію, логотип, кнопку-іконку для створення замовлення та перемикач теми"

  Click по логотипу або Home переадресовує користувача на головну сторінку

  Click по Favorites відкриває сторінку з переліком рецептів, доданих користувачем в улюблені

  Кнопку-іконку реалізувати за допомогою протоколів посилання з телефонним номером-заглушкою +38 073 0000000

  Click по бургер-меню розгортає його на всю висоту viewport -->

<!-- Додатково: -->

<!-- Псевдоелемент-лічільник на корзину доданих у фейворіт -->
