.tui-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-categories-text-l);
  color: var(--color-text-light);
  font-size: 18px;
  font-weight: 600;
  line-height: 122.222%;
  background-position: center;
  background-repeat: no-repeat;
}

.tui-is-selected:active {
  background-color: var(--bg-btn-var1);
}
.tui-prev {
  margin-left: 8px;
  margin-right: 24px;
}
.tui-next {
  margin-left: 24px;
  margin-right: 8px;
}
.tui-first,
.tui-prev {
  font-size: 0;
  background-color: var(--color-text-light);
  border: var(--bg-btn-var2);
  border-color: rgba(0, 0, 0, 0);
}

.tui-first {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 42 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='fi-rr-angle-small-left'%3E%3Cpath id='Vector1' d='M19.6677 10.5917C19.5896 10.5142 19.5276 10.4221 19.4853 10.3205C19.443 10.219 19.4212 10.11 19.4212 10C19.4212 9.89001 19.443 9.78109 19.4853 9.67954C19.5276 9.57799 19.5896 9.48582 19.6677 9.40835L23.4927 5.59168C23.5708 5.51421 23.6328 5.42204 23.6751 5.32049C23.7174 5.21894 23.7392 5.11002 23.7392 5.00001C23.7392 4.89 23.7174 4.78108 23.6751 4.67953C23.6328 4.57798 23.5708 4.48581 23.4927 4.40834C23.3365 4.25313 23.1252 4.16602 22.9052 4.16602C22.6851 4.16602 22.4739 4.25313 22.3177 4.40834L18.4927 8.23335C18.0245 8.7021 17.7615 9.33752 17.7615 10C17.7615 10.6625 18.0245 11.2979 18.4927 11.7667L22.3177 15.5917C22.4729 15.7457 22.6824 15.8324 22.901 15.8334C23.0107 15.834 23.1194 15.813 23.2209 15.7715C23.3225 15.73 23.4148 15.6689 23.4927 15.5917C23.5708 15.5142 23.6328 15.4221 23.6751 15.3205C23.7174 15.219 23.7392 15.11 23.7392 15C23.7392 14.89 23.7174 14.7811 23.6751 14.6795C23.6328 14.578 23.5708 14.4858 23.4927 14.4084L19.6677 10.5917Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3Cpath id='Vector2' d='M14.3339 10.5917C14.2558 10.5142 14.1938 10.4221 14.1515 10.3205C14.1092 10.219 14.0874 10.11 14.0874 10C14.0874 9.89001 14.1092 9.78109 14.1515 9.67954C14.1938 9.57799 14.2558 9.48582 14.3339 9.40835L18.1589 5.59168C18.237 5.51421 18.299 5.42204 18.3413 5.32049C18.3836 5.21894 18.4054 5.11002 18.4054 5.00001C18.4054 4.89 18.3836 4.78108 18.3413 4.67953C18.299 4.57798 18.237 4.48581 18.1589 4.40834C18.0027 4.25313 17.7915 4.16602 17.5714 4.16602C17.3512 4.16602 17.14 4.25313 16.9839 4.40834L13.1589 8.23335C12.6907 8.7021 12.4277 9.33752 12.4277 10C12.4277 10.6625 12.6907 11.2979 13.1589 11.7667L16.9839 15.5917C17.1391 15.7457 17.3486 15.8324 17.5672 15.8334C17.6769 15.834 17.7856 15.813 17.8871 15.7715C17.9887 15.73 18.081 15.6689 18.1589 15.5917C18.237 15.5142 18.299 15.4221 18.3413 15.3205C18.3836 15.219 18.4054 15.11 18.4054 15C18.4054 14.89 18.3836 14.7811 18.3413 14.6795C18.299 14.578 18.237 14.4858 18.1589 14.4084L14.3339 10.5917Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: 3.5px;
}
.tui-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='fi-rr-angle-small-left'%3E%3Cpath id='Vector' d='M9.33387 10.5917C9.25576 10.5142 9.19377 10.4221 9.15146 10.3205C9.10915 10.219 9.08737 10.11 9.08737 10C9.08737 9.89001 9.10915 9.78109 9.15146 9.67954C9.19377 9.57799 9.25576 9.48582 9.33387 9.40835L13.1589 5.59168C13.237 5.51421 13.299 5.42204 13.3413 5.32049C13.3836 5.21894 13.4054 5.11002 13.4054 5.00001C13.4054 4.89 13.3836 4.78108 13.3413 4.67953C13.299 4.57798 13.237 4.48581 13.1589 4.40834C13.0027 4.25313 12.7915 4.16602 12.5714 4.16602C12.3512 4.16602 12.14 4.25313 11.9839 4.40834L8.15887 8.23335C7.6907 8.7021 7.42773 9.33752 7.42773 10C7.42773 10.6625 7.6907 11.2979 8.15887 11.7667L11.9839 15.5917C12.1391 15.7457 12.3486 15.8324 12.5672 15.8334C12.6769 15.834 12.7856 15.813 12.8871 15.7715C12.9887 15.73 13.081 15.6689 13.1589 15.5917C13.237 15.5142 13.299 15.4221 13.3413 15.3205C13.3836 15.219 13.4054 15.11 13.4054 15C13.4054 14.89 13.3836 14.7811 13.3413 14.6795C13.299 14.578 13.237 14.4858 13.1589 14.4084L9.33387 10.5917Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.tui-next {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='fi-rr-angle-small-left'%3E%3Cpath id='Vector' d='M9.33387 10.5917C9.25576 10.5142 9.19377 10.4221 9.15146 10.3205C9.10915 10.219 9.08737 10.11 9.08737 10C9.08737 9.89001 9.10915 9.78109 9.15146 9.67954C9.19377 9.57799 9.25576 9.48582 9.33387 9.40835L13.1589 5.59168C13.237 5.51421 13.299 5.42204 13.3413 5.32049C13.3836 5.21894 13.4054 5.11002 13.4054 5.00001C13.4054 4.89 13.3836 4.78108 13.3413 4.67953C13.299 4.57798 13.237 4.48581 13.1589 4.40834C13.0027 4.25313 12.7915 4.16602 12.5714 4.16602C12.3512 4.16602 12.14 4.25313 11.9839 4.40834L8.15887 8.23335C7.6907 8.7021 7.42773 9.33752 7.42773 10C7.42773 10.6625 7.6907 11.2979 8.15887 11.7667L11.9839 15.5917C12.1391 15.7457 12.3486 15.8324 12.5672 15.8334C12.6769 15.834 12.7856 15.813 12.8871 15.7715C12.9887 15.73 13.081 15.6689 13.1589 15.5917C13.237 15.5142 13.299 15.4221 13.3413 15.3205C13.3836 15.219 13.4054 15.11 13.4054 15C13.4054 14.89 13.3836 14.7811 13.3413 14.6795C13.299 14.578 13.237 14.4858 13.1589 14.4084L9.33387 10.5917Z' fill='%23050505' /%3E%3C/g%3E%3C/svg%3E%0A");
}
.tui-last {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 42 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='fi-rr-angle-small-left'%3E%3Cpath id='Vector1' d='M19.6677 10.5917C19.5896 10.5142 19.5276 10.4221 19.4853 10.3205C19.443 10.219 19.4212 10.11 19.4212 10C19.4212 9.89001 19.443 9.78109 19.4853 9.67954C19.5276 9.57799 19.5896 9.48582 19.6677 9.40835L23.4927 5.59168C23.5708 5.51421 23.6328 5.42204 23.6751 5.32049C23.7174 5.21894 23.7392 5.11002 23.7392 5.00001C23.7392 4.89 23.7174 4.78108 23.6751 4.67953C23.6328 4.57798 23.5708 4.48581 23.4927 4.40834C23.3365 4.25313 23.1252 4.16602 22.9052 4.16602C22.6851 4.16602 22.4739 4.25313 22.3177 4.40834L18.4927 8.23335C18.0245 8.7021 17.7615 9.33752 17.7615 10C17.7615 10.6625 18.0245 11.2979 18.4927 11.7667L22.3177 15.5917C22.4729 15.7457 22.6824 15.8324 22.901 15.8334C23.0107 15.834 23.1194 15.813 23.2209 15.7715C23.3225 15.73 23.4148 15.6689 23.4927 15.5917C23.5708 15.5142 23.6328 15.4221 23.6751 15.3205C23.7174 15.219 23.7392 15.11 23.7392 15C23.7392 14.89 23.7174 14.7811 23.6751 14.6795C23.6328 14.578 23.5708 14.4858 23.4927 14.4084L19.6677 10.5917Z' fill='%23050505' /%3E%3Cpath id='Vector2' d='M14.3339 10.5917C14.2558 10.5142 14.1938 10.4221 14.1515 10.3205C14.1092 10.219 14.0874 10.11 14.0874 10C14.0874 9.89001 14.1092 9.78109 14.1515 9.67954C14.1938 9.57799 14.2558 9.48582 14.3339 9.40835L18.1589 5.59168C18.237 5.51421 18.299 5.42204 18.3413 5.32049C18.3836 5.21894 18.4054 5.11002 18.4054 5.00001C18.4054 4.89 18.3836 4.78108 18.3413 4.67953C18.299 4.57798 18.237 4.48581 18.1589 4.40834C18.0027 4.25313 17.7915 4.16602 17.5714 4.16602C17.3512 4.16602 17.14 4.25313 16.9839 4.40834L13.1589 8.23335C12.6907 8.7021 12.4277 9.33752 12.4277 10C12.4277 10.6625 12.6907 11.2979 13.1589 11.7667L16.9839 15.5917C17.1391 15.7457 17.3486 15.8324 17.5672 15.8334C17.6769 15.834 17.7856 15.813 17.8871 15.7715C17.9887 15.73 18.081 15.6689 18.1589 15.5917C18.237 15.5142 18.299 15.4221 18.3413 15.3205C18.3836 15.219 18.4054 15.11 18.4054 15C18.4054 14.89 18.3836 14.7811 18.3413 14.6795C18.299 14.578 18.237 14.4858 18.1589 14.4084L14.3339 10.5917Z' fill='%23050505' /%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: 3.5px;
}
.tui-next,
.tui-last {
  transform: rotate(180deg);
}

.tui-page-btn.tui-is-selected {
  border-color: var(--bg-btn-var1);
  background-color: var(--bg-btn-var1);
}
.tui-next,
.tui-last {
  background-color: var(--bg-btn-var1);
  border: var(--bg-btn-var2);
  font-size: 0;
}
