@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.switch {
  input {
    display: none;
  }
}

.slider {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  /* Тень для внутренней "вжатости" */
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px); /* Смещение вниз для эффекта "вжатости" */

  &:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translate(2px, -50%);
    transition: transform 0.3s ease;

    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

input:checked + .slider {
  background-color: #9bb537;

  &:before {
    transform: translate(26px, -50%);
  }
}

.switch .icon-moon {
  fill: orange;
  position: absolute;
  top: 32px;
  left: 10px;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;

  @include media(768px) {
    top: 40px;
  }

  @include media(1270px) {
    top: 32px;
  }
}

.switch .icon-sun {
  fill: orange;
  position: absolute;
  top: 32px;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;

  @include media(768px) {
    top: 40px;
  }

  @include media(1270px) {
    top: 32px;
  }
}

.switch {
  display: inline-flex;
  align-items: center;
  position: relative;

  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.15);
  }
}
