@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.switch {
  input {
    display: none;
  }
}

.slider {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  background: linear-gradient(141.22deg, #a09ea0 9.4%, #cecdcd 91.91%);
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translate(2px, -50%);
    transition: transform 0.3s ease;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

input:checked + .slider {
  background-color: #9bb537;

  &:before {
    transform: translate(26px, -50%);
  }
}

.switch .icon-moon {
  fill: orange;
  position: absolute;
  top: 37px;
  left: 10px;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;

  @include media(1270px) {
    top: 30px;
  }
}

.switch .icon-sun {
  fill: orange;
  position: absolute;
  top: 37px;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;

  @include media(1270px) {
    top: 30px;
  }
}

.switch {
  display: inline-flex;
  align-items: center;
  position: relative;

  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.15);
  }
}
