.footer {
  padding: 20px 0;
  background: var(--bg-body-dark);
  color: var(--color-text-d);
}
.footer__wrap {
  display: flex;
  flex-direction: column;
}

.footer-top-line {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.footer .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  & .logo {
    padding: 10px 0;
  }
  & .black-logo {
    color: var(--color-text-d);
  }
}

.footer .header-navigation-list {
  display: flex;
  gap: 0;

  & .navigation-link {
    padding: 10px 0;
    color: inherit;
  }
}

.footer {
  & .svg-list {
    margin-left: auto;
  }
  & .open-modal-button {
    display: none;
  }
  & .create-order-link svg {
    stroke: var(--color-text-d);
  }
  & .switch {
    display: block;
  }
}

.footer-center-line {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.team {
  margin-bottom: 20px;
}

.team .teame-title {
  text-align: center;
  margin-bottom: 8px;
}
.team .team-list {
  max-width: 200px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.team .team-item {
  flex-basis: calc((100% - 20px) / 6);
  & img {
    border-radius: 100%;
  }
}

.support-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.support-link {
  display: block;
  width: 160px;
  height: 44px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  color: inherit;

  border: var(--border-btn-var2);
  border-radius: var(--border-radius);

  overflow: hidden;
  position: relative;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: color var(--transition);

  & span {
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    border-radius: var(--border-radius);
    background-image: url("../images/footer/camouflage-pattern.png");
    background-position: 0 50%;

    // z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: transform 250ms;
  }
  &:is(:hover, :focus) {
    &::before {
      transform: translateX(0);
    }
  }
}

.footer-text {
  font-size: 12px;
  color: inherit;
}

.footer-bottom-line {
  margin: 0 auto;
}

.footer-copyright {
  margin-bottom: 10px;
}

.footer-policy-list {
  display: flex;
  justify-content: center;
  gap: 20px;

  & a {
    color: inherit;
  }
}

@media screen and (min-width: 768px) {
  .footer-center-line {
    flex-direction: row;
    justify-content: space-between;
  }

  .team {
    margin-bottom: 0;

    & .team-list {
      max-width: none;

      flex-wrap: nowrap;
    }
  }

  .support {
    margin-left: auto;
  }
}
