@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.open-modal-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.create-order-link {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  &:hover > svg {
    fill: rgb(56, 165, 19);
  }
}

.logo,
.navigation-link,
.create-order-link,
.switch,
.open-modal-button {
  padding-top: 20px;

  @include media(768px) {
    padding-top: 28px;
  }

  @include media(1280px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header-navigation-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media(1280px) {
  .header-scroll {
    background-color: #f5f5dc;
    transition: background-color 2.5s;
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

.navigation-link {
  font-size: 12px;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.mobile-menu .header-navigation-list li:first-child a {
  color: var(--bg-body-light);
}

.mobile-menu .header-navigation-list li:nth-child(2) a {
  color: var(--color-btn-var1); /* Стиль для второй ссылки */
}

.svg-list {
  gap: 14px;
  margin-left: auto;
  display: flex;
}

.svg-list label {
  display: none;
}

.navigation-link.current-link {
  color: var(--color-active-el);
}

.switch {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;

  
}

.header-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-wrapper {
  display: flex;
  .header-navigation-list {
    display: none;
  }

  @include media(768px) {
    justify-content: space-between;
    .header-navigation-list {
      display: flex;
      flex-direction: row;
    }
    .svg-list {
      align-items: center;
    }
  }
}

.logo {
  color: var(--bg-btn-var1);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  @include media(768px) {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.72px;
  }
}

@include media(768px) {
  .svg-list {
    label {
      display: flex;
    }
    margin-left: 0;
  }

  .open-modal-button {
    display: none;
  }

  .navigation-link {
    color: var(--color-btn-var2);
  }
}

.black-logo {
  color: var(--color-text-light);
}

/* Mobile-menu */

.mobile-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transform: translate(100%);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(0);
    z-index: 100;
  }

  .mobile-menu-content {
    background-color: var(--bg-btn-var1);
    width: 52vw;
    height: 100vh;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;

    .switch {
     
    }
  }

  .close-modal-button {
    display: flex;
    margin-left: auto;
  }

  .header-navigation {
    text-align: center;
    margin-top: 200px;
  }
}

/* Світч */
