@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.open-modal-button {
  background: none;
  border: none;
}

.logo,
.navigation-link,
.create-order-link,
.switch,
.open-modal-button {
  padding-top: 20px;
}

.header-navigation-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media(1024px) {
  .header-scroll {
    background-color: #9648d5;
    transition: background-color 2.5s;
  }
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

.navigation-link {
  font-size: 12px;
  font-family: Inter;
}

.mobile-menu .header-navigation-list li:first-child a {
  color: #fff;
}

.mobile-menu .header-navigation-list li:nth-child(2) a {
  color: #f8f8f8; /* Стиль для второй ссылки */
}

.svg-list {
  gap: 14px;
  margin-left: auto;
  display: flex;
}

.svg-list label {
  display: none;
}

.navigation-link.current-link {
  color: #9bb537;
}

.switch {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.header-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-wrapper {
  display: flex;
  .header-navigation-list {
    display: none;
  }

  @include media(768px) {
    justify-content: space-between;
    .header-navigation-list {
      display: flex;
      flex-direction: row;
    }
    .svg-list {
      align-items: center;
    }
  }
}

.logo {
  color: #9bb537;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  letter-spacing: -0.64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include media(768px) {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.72px;
  }
}

@include media(768px) {
  .svg-list {
    label {
      display: flex;
    }
    margin-left: 0;
  }

  .open-modal-button {
    display: none;
  }

  .navigation-link {
    color: #050505;
  }
}

.black-logo {
  color: #050505;
}

/* Mobile-menu */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  .mobile-menu-content {
    background-color: #9bb537;
    width: 52vw;
    height: 100vh;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;

    .switch {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }

  .close-modal-button {
    display: flex;
    margin-left: auto;
  }

  .header-navigation {
    text-align: center;
    margin-top: 200px;
  }
}

/* Світч */
