.popular-recipes-container {
  width: 100%;
  margin-top: 64px;
}

.popular-recipe-title {
  font-size: 18px;
  line-height: 24px;
  max-width: 166px;
  padding-bottom: 20px;

  text-transform: uppercase;
  color: var(--color-text-light);
}

.dark .popular-recipe-title {
  color: var(--color-text-d);
}

.popular-recipe-list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.popular-recipe-item {
  transition: all 0.4s ease 0s;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.popular-recipe-item:hover,
.popular-recipe-item:focus {
  background: var(--color-active-el);
  border-color: var(--color-active-el);
  border-radius: 8px;
  color: ffffff;
  transition: all 0.4s ease 0s;
}

.popular-recipe-card {
  display: flex;
}

.popular-card-image {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  margin-right: 16px;
}

.popular-card-heading {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
  color: var(--color-text-light);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.dark .popular-card-heading {
  color: var(--color-text-d);
}

.popular-card-description {
  color: var(--color-text-desc-l);
  font-size: 12px;
  line-height: 16px;

  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.dark .popular-card-description {
  color: var(--color-text-desc-d);
}

// -------------------------------screen <768----------------------------------

@media screen and (min-width: 768px) {
  .popular-recipes-container {
    width: 176px;
    margin: auto;
    margin-top: 40px;
  }

  .popular-recipe-title {
    padding-bottom: 32px;
  }

  .popular-recipe-list {
    row-gap: 16px;
  }

  .popular-card-image {
    width: 48px;
    height: 48px;
  }

  .popular-card-description {
    margin-top: 8px;
    font-size: 10px;
    line-height: 14px;

    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

// -------------------------------screen <1280-------------------------------

@media screen and (min-width: 1280px) {
  .popular-recipes-container {
    width: 235px;
  }

  .popular-recipe-title {
    width: 221px;
    padding-bottom: 32px;
  }

  .popular-recipe-list {
    row-gap: 32px;
  }

  .popular-card-image {
    width: 68px;
    height: 68px;
  }

  .popular-card-description {
    font-size: 10px;
    line-height: 14px;

    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}
