
<!-- Файли для роботи:
    Стилі:
      sass\layout\home\_categories.scss - стілі блоку;
      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;

    JS:
      js\home\categories\categories.js - логіка;
      js\home\categories\categoriesApi.js - запити на бек;
      js\home\categories\categoriesRender.js -рендер HTML;

      -->
<!-- Перелік категорій (рецептів) -- https://tasty-treats-backend.p.goit.global/api/categories -->
<!-- "Блок з переліком категорій включає:
        1)кнопку All categories, що надає можливість користувачу очистити фільтр пошуку рецептів по категорії
          і зробити запит на бекенд за рецептами, що належать до усіх категорій  
        2)перелік отриманих з бекенду категорій, реалізованих у виглядів кнопок, по click на кожну з яких
          необхідно відправляти запит за рецептами, що відносяться до відповідної категорії, і стилізувати
          цю категорію як активну. 
        3)Блок повинен містити scroll в межах контейнеру, який надає можливість користувачу переглянути
          увесь перелік категорій. "
-->