<section class="hero section">
  <div class="container hero__wrap">

  </div>
</section>

<!-- Файли для роботи:
    Стилі:
      sass\layout\home\_hero.scss - стілі блоку;

      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;

    JS:
      js\home\hero\hero.js - логіка;
      js\home\hero\hero.js - запити на бек;
      js\home\hero\heroRender.js -рендер HTML;
      js\home\hero\heroSwiper.js -свайпер;

      -->

<!-- https://tasty-treats-backend.p.goit.global/api-docs -- Перелік подій(майстер-класів) -->
<!-- "Home включає:
        1)герой з заголовком сайту та переліком найближчих майстер-класів компанії
        2)блок з переліком усіх категорій рецептів
        3)блок з панеллю фільтрів, за допомогою яких користувач може вишукати необхідні йому рецепти
        4)блок з переліком рецептів
        5)блок з переліком популярних рецептів"
        6)заголовок сайту
        7)Order now реалізувати за допомогою протоколів посилання з телефонним номером-заглушкою +38 073 0000000
        8)блок з переліком найближчих майстер-класів компанії, отриманих з бекенду, який необхідно реалізувати у вигляді слайдеру"
-->
<!-- Зверстати шаблон одного майстер-класу. Картка повинна містити зображення кухаря,назву майстер-класу,
      регіон походження страви та зображення страви, що готуватиметься на майстер-класі -->
