<div class="pagination-bar">
  <div class="pag-btn-block">
    <button
      id="pag-btn-start"
      class="gag-btn-black"
      type="button"
      aria-label="first page"
    >
      <span class="icon-wrap">
        <svg class="pag-btn-left-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </span>
      <span class="icon-wrap overlap">
        <svg class="pag-btn-left-icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </span>
    </button>
    <button
      id="pag-btn-prev"
      class="gag-btn-black"
      type="button"
      aria-label="previous page"
    >
      <svg class="pag-btn-left-icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="pag-btn-block">
    <div class="pag-btn-block">
      <button
        id="pag-btn-dots-left"
        class="pag-btn-white"
        aria-label="more pages"
      >
        ...
      </button>
      <button
        id="pag-btn-1"
        class="pag-btn-white pag-btn-number"
        type="button"
        aria-label="page 1"
      >
        1
      </button>
      <button
        id="pag-btn-2"
        class="pag-btn-white pag-btn-number"
        type="button"
        aria-label="page 2"
      >
        2
      </button>
      <button
        id="pag-btn-3"
        class="pag-btn-white pag-btn-number"
        type="button"
        aria-label="page 3"
      >
        3
      </button>
      <button
        id="pag-btn-dots-right"
        class="pag-btn-white"
        aria-label="more pages"
      >
        ...
      </button>
    </div>
    <div class="pag-btn-block">
      <button
        id="pag-btn-next"
        class="pag-btn-green"
        type="button"
        aria-label="next page"
      >
        <svg class="pag-btn-right-icon-next" width="20" height="20">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <button
        id="pag-btn-last"
        class="pag-btn-green"
        type="button"
        aria-label="last page"
      >
        <span class="icon-container">
          <span class="icon-wrap-right">
            <svg class="pag-btn-right-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
          <span class="icon-wrap-right overlap-right">
            <svg class="pag-btn-right-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
        </span>
      </button>
    </div>
  </div>
</div>
