<!-- Файли для роботи:
    Стилі:
      sass\layout\home\_popular.scss - стілі блоку;

      sass\base\_variables.scss - змінні;
      sass\vendors\_mixin.scss - міксини(шаблони) для тексту;

    JS:
      js\home\popular\popular.js - логіка;
      js\home\popular\popular.js - запити на бек;
      js\home\popular\popularRender.js -рендер HTML;

      -->

<!-- Популярні рецепти -- https://tasty-treats-backend.p.goit.global/api/recipes/popular -->
<!-- Click по будь-якому рецепту з блоку популярних або click по кнопці "See recipe" на картці рецепту
      повинен відкривати модальне вікно з детальною інформацією про цей рецепт -->

<div class="popular-recipes-container">
  <h2 class="popular-recipe-title">Popular recipes</h2>
  <div class="popular-recipes-card"></div>
</div>

<script type="module" src="/src/js/home/popular/popularRender.js"></script>
