.modal-create {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-create {
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  background: var(--color-text-d);
  overflow-y: auto;
  position: absolute;
  box-sizing: border-box;
  max-height: 90vh;
  position: relative;
}
@media screen and (max-width: 374px) {
  .modal-content-create {
    width: calc(100% - 30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: calc(100% - 80px);
    position: absolute;
    overflow: auto;
  }
  .ingredient-create {
    flex-direction: column;
  }
  .label-quantity {
    display: none;
  }
  .label-create {
    margin-top: 7px;
  }
  .textarea-create {
    height: 80px;
  }
  .add-ingredient {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 375px) {
  .modal-content-create {
    width: 335px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .ingredient-create {
    flex-direction: column;
  }
  .label-quantity {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .modal-content-create {
    width: 400px;
    padding: 20px 20px 20px 30px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-content-create {
    width: 500px;
    height: 90vh;
  }
  .ingredient-create {
    flex-direction: row;
  }
  .label-quantity {
    display: block;
  }
}

.recipe-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.ingredient-create {
  display: flex;
}
.close-create {
  position: sticky;
  top: 0px;
  left: 100%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  z-index: 1;
}

.close-create:hover,
.close-create:focus {
  color: var(--color-text-light);
  text-decoration: none;
  cursor: pointer;
}

.btn-create {
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: transparent;
  background: var(--color-active-el);
  color: var(--color-btn-var1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
  transition: color var(--transition);
}
.btn-create:hover,
.btn-create:focus {
  color: var(--color-text-light);
}

.label-recipe-name {
  color: var(--color-text-light);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 122%;
}

.label-create {
  margin-top: 8px;
}
.label-create:not(:last-child) {
  margin-right: 120px;
}
.create-recipe-btn {
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: var(--color-input-placeholder-l);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  border: var(--border-input-l);
  background: transparent;
  margin-top: 30px;
  font-family: Inter, sans-serif;
  transition: background-color var(--transition);
}
.create-recipe-btn:hover,
.create-recipe-btn:focus {
  background-color: var(--bg-btn-var1);
  color: var(--color-btn-var1);
}
.input-create,
.ingredient-name,
.ingredient-amount {
  padding: 8px 12px;
  border-radius: 15px;
  border: var(--border-input-l);
  margin-bottom: 8px;
  margin-right: 3px;
  margin-top: 8px;
}
.ingredient-amount {
  width: 120px;
}
.textarea-create {
  padding: 14px 18px;
  border-radius: 15px;
  border: var(--border-input-l);
  margin-bottom: 15px;
  margin-top: 8px;
  resize: none;

  box-sizing: border-box;
}
.label-flex {
  display: flex;
}
.add-ingredient {
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}
.plus-button-svg,
.remove-ingredient-svg {
  fill: var(--color-input-placeholder-l);
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
}
.remove-ingredient-create {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: auto;
}
#recipeImagePreview {
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}

input[type='file']::before {
  content: 'Add photo';
  display: inline-block;
  background: #aaa;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: background-color var(--transition);
}

input[type='file']:hover::before {
  background-color: var(--color-input-placeholder-l);
}
