
.recipe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--gray-title-w);
  overflow: auto;
  transition: opacity var(--trns-modal), visibility var(--trns-modal);
}

.recipe-backdrop.visible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 150ms;
}

.modal-container {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: all var(--trns-modal);;
  transition-delay: 150ms;

  @media screen and(min-width:768px) {
    transform: translate(-50%, -47%);
  }
  @media screen and(min-width:1200px) {
    transform: translate(-50%, -50%);
  }
}

.recipe-backdrop.visible .modal-container{
  opacity: 0;
  transition-delay: 0ms;
}

.modal-recipe {
  width: 335px;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: var(--white-w);

  @media screen and(max-width:374px) {
    width: 320px;
  }
  @media screen and(min-width:768px) {
    width: 685px;
    padding: 32px;
  }
}

.btn-close {
  cursor: pointer;
  position: fixed;
  top: 14px;
  right: 14px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform var(--trns-modal);
  &:hover,
  &:focus {
    transform: scale(1.8) rotate(180deg);
    transform-origin: center;
  }
  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
  }
}

.reciepe-close-icon{
  stroke: var(--black);
}

.wrap-recipe {
  margin-bottom: 40px;
  @media screen and(min-width:768px) {
    display: flex;
    column-gap: 32px;
    margin-bottom: 16px;
  }
}

.recipe-container {
  margin-top: 20px;
  @media screen and(min-width:768px) {
    margin-top: 0;
  }
}

.recipe-video {
  @media screen and(max-width:374px) {
    width: 285px;
  }
  border-radius: 8px;
  width: 295px;
  height: 295px;
  @media screen and(min-width:768px) {
    width: 332px;
    height: 285px;
  }
}

.title-recipe {
  font-size: 18px;
  line-height: calc(24 / 18);
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--main-font), sans-serif;
  margin-bottom: 14px;
  @media screen and(min-width:768px) {
    line-height: calc(22 / 18);
    margin-bottom: 16px;
  }
}

.recipe-rating {
  display: flex;
  margin-bottom: 32px;
}

.rating {
  font-size: 14px;
  line-height: calc(18 / 14);
  font-weight: 500;
  color: var(--gray-title-w);
  margin-right: 6px;
}

.time-cooking {
  font-size: 14px;
  line-height: calc(18 / 14);
  font-weight: 500;
  color: var(--gray-title-w);
  margin-left: 16px;
}

.overflow-scroll {
  height: 204px;
  overflow-y: auto;
}

.recipe-ingridient {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}

.list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 277px;

  @media screen and(max-width:374px) {
    width: 267px;
  }
  @media screen and(min-width:768px) {
    width: 238px;
  }
}

.list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  border: 1px solid var(--gray-border-modal-w);
}

.ingridient {
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--black);
}

.portion {
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--gray-title-w);
  width: 90px;
  text-align: right;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-bottom: 24px;
  column-gap: 8px;
  @media screen and(min-width:768px) {
    margin-bottom: 32px;
  }
}

.teg-item {
  font-size: 12px;
  line-height: calc(14 / 12);
  font-weight: 500;
  color: var(--black);
  border: 1px solid var(--gray-border-w);
  border-radius: 35px;
  padding: 8px 16px;
}

.recipe-text {
  height: 162px;
  overflow-y: auto;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--gray-descrip-w);
  margin-bottom: 40px;
  @media screen and(min-width:768px) {
    margin-bottom: 32px;
  }
}

.btn {
  display: flex;
  column-gap: 14px;
  @media screen and(min-width:768px) {
    column-gap: 16px;
  }
}

.btn-addToFavorite {
  font-size: 14px;
  padding: 12px 24px;
  background-color: var(--green);
  color: var(--white-w);
  border-radius: 15px;
  transition: var(--trns-general);

  @media screen and(max-width:374px) {
    padding: 12px 17px;
  }
  @media screen and(min-width:768px) {
    padding: 14px 28px;
  }
}

.btn-addToFavorite:focus,
.btn-addToFavorite:hover{
  color: var(--black);
}

.btn-giveARating {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  background-color: transparent;
  color: var(--black);
  border-radius: 15px;
  border: 1px solid var(--green);
  transition: var(--trns-general);
  
  @media screen and(max-width:374px) {
    padding: 12px 17px;
  }
  @media screen and(min-width:768px) {
    padding: 14px 28px;
  }
}

.btn-giveARating:focus,
.btn-giveARating:hover{
  background: var(--green);
  color: var(--white-w);
}

.scroll-lock {
  overflow: hidden;
}

.star-modal{
  fill: rgba(5, 5, 5, 0.1);
}

.card_star-rating-modal{
align-items: flex-end;
}

.filled {
  fill: var(--yellow-star);
  opacity: 1;
}